.gridDesign {
  /* max-width: 1600px; */
  justify-content: center;
  align-content: center;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
    "hd hd hd"
    "main main right"
    "main main cu"
    "details details details"
    "lw lw lw";
}

.top {
  grid-area: hd;
  /* flex-direction: row; */

  margin: 5px;
  padding: 20px;
  margin: 5px;
  padding: 20px;
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
}

.lower {
  grid-area: lw;

  justify-content: right;
  margin: 5px;
  padding: 20px;
}

.customer {
  grid-area: cu;

  margin: 5px;
  padding: 20px;
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
}
.content {
  grid-area: main;
  min-width: 400px;
  margin: 5px;
  padding: 20px;
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
}

.right {
  grid-area: right;
  margin: 5px;
  padding: 20px;
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
}
/* Flex Section */
.flex-container {
  display: flex;
  align-items: center;
}
.flex-child {
  flex: 1;
}
.sectionLabel {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  font: red;
  background-color: aqua;
  max-width: 100%;
  min-width: 30%;
  font-size: 1.4em;
  padding: 10px;
  border-radius: 10px;
}
.standardLabel {
  align-self: end;
  padding: 10px;
}
.labelsCustom {
  font-weight: bold;
  color: blue;
  font-size: 1.2em;
  padding: 10px;

  /* padding-top: 20px; */
  /* align-items: end; */
}
.location-container {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
  justify-content: start;
  border-color: red;
  background: green;
}

.status-container {
  display: flex;
  flex-wrap: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-color: red;
  background: green;
}
.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.flexbox-container {
  display: flex;
  flex-wrap: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-color: red;
  background: green;
}
.boxheight {
  min-height: 80%;
  max-height: 80%;
}
.tabBoxes {
  /* display: flex; */
  /* margin: 10px 50px 20px 0; */
  /* padding: 20px; */
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
  height: 200px;
  width: 425px;
}

.boxTop {
  /* display: flex; */
  /* margin: 10px 50px 20px 0; */
  /* padding: 20px; */
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
}
.boxes {
  display: flex;
  /* margin: 10px 50px 20px 0; */
  /* padding: 20px; */
  border: solid;
  border-color: grey;
  background: #ced0d6;
  border-radius: 10px;
}
/* Input Section */
.resizedTextbox {
  max-width: 60%;
  min-width: 30%;
}

.inputWidth40 {
  max-width: 200px;
  min-width: 200px;
}

.inputWidth20 {
  width: 180px;
}
.inputWidth30 {
  max-width: 30%;
  min-width: 30%;
}
.inputWidth60 {
  width: 280px;
}
.inputWidth80 {
  max-width: 80%;
  min-width: 80%;
}
.inputWidth100 {
  flex-grow: 1;
}
.buttons {
  padding-right: 15px;
}
/* Tab Section
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 400px; */
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #009578;
  border-bottom: 2px solid #009578;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 1000px) {
  .location-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    border-color: red;
    background: purple;
  }
  .right {
    max-width: 300px;
  }
  .customer {
    max-width: 300px;
  }
  .inputWidth30 {
    min-width: 100%;
  }
  .status-container {
    flex-direction: column;
    background: purple;
  }
  .inputWidth60 {
    max-width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 768px) {
  .location-container {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-color: red;
    background: green;
  }
} */
